echo "/vendor/
/node_modules/
.env
.DS_Store
Thumbs.db
/storage/
Homestead.json
Homestead.yaml
*.log
.idea/
.vscode/
*.sqlite
/public/storage
/storage/*.key
/.phpunit.cache
/.php-cs-fixer.cache
/.php-version
/.changelog.md" > .gitignore